body {
    font-size: 30px;
}
header{
    font-size:  4rem;
    letter-spacing: 5px;
    text-align: center;
    font-family: cursive;
    text-transform: capitalize;
    text-shadow: 3px 3px 5px red;
    margin : 20px;
}
section {
    margin-top: 80px;
    margin-left: 40px;
}
.que {
    font-size: 2rem;
    margin-top : 30px;
    margin-bottom: 20px;
}
input[type = "radio"]{
    margin: 20px 30px 20px 10px;
    width: auto;
    cursor: pointer;
}
input[type = "submit"]{
    width: 200px;
    height: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    margin : 40px auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
input[type = "submit"]:hover{
    background-color: green;
    color: white;
}
